.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 5rem;
  padding: 0.5rem 2rem 0.5rem 1rem;
  gap: 2rem;
  opacity: 1;
  backdrop-filter: blur(10px );
  z-index: 1;
}
.headerTitle {
  font-size: 2rem;
}
.sparkle {
  position: absolute;
  right: 2rem;
}
.menuMobileButton, .menuMobileButton svg {
width: 3rem;
height: 3rem;
background-color: gold;
border-radius: 50%;
}
@media (min-width: 500px) {
  .menuMobileButton {
    display: none;
  }
}