.footer {
  width: 20%;
  height: 6rem;
  display: flex;
  align-items: center;
  padding: 0 3rem 2rem;
  margin-top: auto;
}
.socialMediaContainer {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.socialMedia {
  display: flex;
  align-items: center;
  gap: 1rem;
  & a {
    color: #f3f3f3;
    font-size: 2.4rem;
  }
}
.socialIcon {
  width: 3.6rem;
  height: 3.6rem;
}