.tweetBody {
  display: flex;
}
.leftSide {
  padding: 1rem;
  width: 15%;
}

.rightSide {
  width: 85%;
}
.tweetHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.threeDots {
  position: absolute;
  right: 2rem;
}
.nameContainer {
  display: flex;
  gap: 0.5rem;
}
.name {
  font-weight: 600;
  color: white;
}
.username,
.threeDots {
  font-weight: 300;
  color: gray;
}

.tweetContent {
}
.profPic {
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: aquamarine;
}
.tweetFooter {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
