.tweetBody {
  display: flex;
  padding: 1rem 0;
}
.leftSide {
  padding: 1rem;
  width: 20%;
}

.rightSide {
  width: 80%;
}
.tweetHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.threeDots {
  position: absolute;
  right: 2rem;
}
.nameContainer {
  display: flex;
  gap: 0.5rem;
}
.name {
  font-weight: 600;
  color: white;
}
.username,
.threeDots {
  font-weight: 300;
  color: gray;
}

.tweetContent {
  font-weight: 400;
  padding: 1rem 1rem 1rem 0;
}
.profPic {
  width: 4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: aquamarine;
}
.tweetFooter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 10%;
  & svg {
    width: 2rem;
    height: 2rem;
  }
}
