.timeline {
  min-width: 320px;
  width: 600px;
  max-width: 600px;
  min-height: 100vh;
  position: relative;
}
.newTweetBut {
  position: fixed;
  right: 2rem;
  bottom: 8rem;
}
@media (min-width: 500px) {
  .timeline {
    border-left: solid 0.5px #2f3336;
    border-right: solid 0.5px #2f3336;
  }
  .newTweetBut {
    display: none;
  }
}
