.container {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  // align-content: space-between;
  justify-content: space-between;
  height: 100vh;
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1.8rem;
  width: 9rem;
}
.navUl {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
  & svg {
    width: 3rem;
    height: 3rem;
  }
  & span {
    display: none;
  }
}
.longNav {
  display: none;
}
.user {
  display: flex;
  gap: 1.2rem;
  padding: 2rem;
}
.userPic {
  width: 4rem;
  border-radius: 50%;
}
.usernameContainer {
  display: flex;
  flex-direction: column;
  display: none;
}
.name {
  font-size: 15px;
}
.username {
  font-size: 15px;
  color: #71767b;
}

@media (min-height: 615px) {
  .longNav {
    display: block;
  }
  .user {
    display: flex;
  }
}
@media (min-height: 700px) {
  .nav,
  .navUl {
    gap: 2rem;
  }
}
@media (max-width: 500px) {
  .container {
    display: none;
  }
  
}
@media (min-width: 1280px) {
  .nav {
    width: 25rem;
    padding: 2rem;
    align-items: flex-start;
  }
  .navUl {
    align-items: flex-start;
    & span {
      display: block;
      font-size: 2rem;
    }
    & li {
      display: flex;
      align-items: center;
      gap: 2rem;
    }
  }
  .usernameContainer {
    display: block;
  }
}
