.post {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 1rem;
  width: 100%;
}
.title {
  $post-title: calc(1.8rem * 100vw / 128rem);
  font-size: clamp(1.8rem, $post-title, 7rem);
}
.description {
  $post-title: calc(1.6rem * 100vw / 192rem);
  font-size: clamp(1.6rem, $post-title, 7rem);
}
.imgContainer {
  width: 100%;
  display: flex;
  border-radius: 1.2rem;
  aspect-ratio: 16 / 9;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.2rem;
}
